/*-----------------------------------------------------------------
Project             : Petir - Design Agency HTML Template.
Version             : 1.0
Author              : Cingunt-Themes
=====================================================================

[Table of contents]

1. General Style
2. Navbar
3. Header 01
4. Header 02 / Video
5. Header 03 / Portfolio Focus
6. Header 04 / Particles
7. About
8. Portfolio
9. Team
10. Testimonial
11. Blog
12. Contact
13. Footer
14. Another (Demo)

main color : #f9a766;
secondary color : #fe7773 ;
background : #0d0f16;
secondary background : #12141c;

==================================================================*/

/* ----------------------------------------------------------------
                       [ 01 General Style ]
-----------------------------------------------------------------*/

.bg-home {
    background: rgba(0,149,255,1);
    background: -moz-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(0,81,138,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,149,255,1)), color-stop(100%, rgba(0,81,138,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(0,81,138,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(0,81,138,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(0,81,138,1) 100%);
    background: linear-gradient(135deg, rgba(0,149,255,1) 0%, rgba(0,81,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095ff', endColorstr='#00518a', GradientType=1 );
}


.m-aut{margin:0 auto!important;}
.mb-0 {margin-bottom: 0!important;}
.mb-20 {margin-bottom: 20px!important;}
/* margin top */

.mt-15 {margin-top: 15px !important; }
.mt-20 {margin-top: 20px !important; }
.mt-30 {margin-top: 30px !important; }
.mt-40 {margin-top: 40px !important; }
.mt-50 {margin-top: 50px !important; }
.mt-60 { margin-top: 60px !important; }
.mt-70 {margin-top: 70px !important; }
.mt-80 {margin-top: 80px !important; }
.mt-90 { margin-top: 90px !important; }
.mt-100 {margin-top: 100px !important; }
.p-0{padding:0;}
/* padding top */

.pt-5 {padding-top: 5px !important;}

.pt-10 {padding-top: 10px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-30 {padding-top: 30px !important; }
.pt-40 {padding-top: 40px !important; }
.pt-50 {padding-top: 50px !important; }
.pt-60 {padding-top: 60px !important; }
.pt-70 {padding-top: 70px !important; }
.pt-80 {padding-top: 80px !important; }

.pr {padding-right:100px;}
.pb-20 {padding-bottom: 20px !important; }
.pb-30 {padding-bottom: 30px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-50 {padding-bottom: 50px !important; }
.pb-60 {padding-bottom: 60px !important; }
.pb-70 {padding-bottom: 70px !important; }
.pb-80 {padding-bottom: 80px !important; }



.img-cover{object-fit: cover;}

.img-contain{object-fit: contain;}

section {padding: 100px 0;}
body{
    font-family: 'Evolventa', sans-serif;
    color: #fff;

}
p {
    font-family: 'Evolventa', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #ffff;
    display: block;
}

@font-face{

    font-family: 'Evolventa';
    font-display: auto;
    src: url('../fonts/Evolventa/Evolventa-Bold.ttf');
    font-weight: 600;
    font-style: normal;

}

@font-face{

    font-family: 'Evolventa';
    font-display: auto;
    src: url('../fonts/Evolventa/Evolventa-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}

p.white {
    color: #fff;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
p.grey {color: #4a4a4a;}
h1 {
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
h5 {
    font-size: 18px;
    margin: 10px 0;
    line-height: 30px;
}


a{
    cursor: pointer;
    text-decoration: none;
}

a:hover{text-decoration: none!important;}


img{
    width: 100%;
    height: 100%;
}

.container-sqr{
    position: relative;
     -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 75%, 0 90%);
    clip-path: polygon(0 15%, 100% 0%, 100% 75%, 0 90%);
}

/* main-title */
h4.min-title {
    
    color: #f9a766;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

h3 {font-weight: 400;}
.container{margin:0 auto!important;}
h3.main-title{
    padding-left: 100px !important;
    letter-spacing: 1px;
}

h4.min-title::after{
    content: ' ';
    position: absolute;
    height: 1px;
    width: 10%;
    margin-top: 12px;
    background: #f9a766;
    right: 45%;
}



.btn-link{
    display: block;
    border:1px solid #ffff;
    border-radius: 5px;
    padding: 3px 15px;
    color: #ffff;
    cursor: pointer;
}
.btn-link:hover{
    color: #ffff!important;
    border:1px solid #ffffff!important;
}

.logo-head-home .text-logo-head{
    font-weight: 600;
    padding-right: 15px;
   
}

.logo-head-develop .text-logo-head{
    font-weight: 400;
    padding-left: 15px;
   
}

.text-logo-head{
    display: block;
    font-size: 2.2rem;
    padding-top:10px;
}



.logo-pic{
    width: 50%;
    align-self: baseline;
}

.overflow-hide{overflow: hidden;}


/* ----------------------------------------------------------------
                        [ 02 Navbar ]
-----------------------------------------------------------------*/
.main-head-content{flex-wrap: nowrap;}
.navbar .logo{width:20%;}
.navbar-toggler{outline: none!important;}

.main-head-content .offset-md-1{
    padding-top: 50px;
}
.contain-rgt-display-img{
    padding-right: 50px;
    position: absolute;
    right: 4%;
    top: 15%;
}
.logo img {
    height: 20px;
    padding-left: 20px;
    object-fit: contain;
}

.navbar[data-state='scroll-top']{
    position: absolute;
    background: transparent;
}

.navbar[data-state='scroll-down']{position: fixed;}

.navbar {
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    z-index: 9;
    min-height: 70px;
    padding: 0;
    opacity: 1;
    transition: all .4s ease;
}
.navbar .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600; 
    color: #fff;
    letter-spacing: .5px;
    margin: 15px 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.navbar .navbar-nav .nav-link:hover {color: #b9b9b9;}
.navbar .navbar-nav .active {color: #b9b9b9 !important;}

.bg-main-container{
     -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    padding: 120px 0px 200px;
    width: 100%;
    height: 100%;
}



/*----About Us---------*/
.about-us{
     -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 75%, 0 90%);
    clip-path: polygon(0 15%, 100% 0%, 100% 75%, 0 90%);

}

.bg-about-us{
    position: absolute;
    top: 0;
    z-index: -2;

}
.main-content-about{padding: 80px 10px;}

.link-about-us{
    width:150px;
    margin:0 auto;
}

.main-content-about p{font-size: 1.5rem;}




/*---- Portfolio-------*/


.main-content-portfolio{
    width: 95%;
    height: 600px;
    padding-top:200px;
}

.dood-project .child-content-background{background-image: url('../img/new-img/more/dood-image.jpg');}
.watch-v-project .child-content-background{background-image: url('../img/new-img/large/picter/WV3.jpg');}

.child-content-background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
}

.img-hover:hover .child-content-background{transform: scale(1.2);}

.brs-project .child-content-background {background-image: url('../img/new-img/large/picter/BRS-image.jpg');}

.descript-project{padding:10px;}

.contain-project-mid .logo-project{
    width: 60%;
    margin: 0 auto;
}
.logo-project{padding:20px;}

.descript-project p{
    font-size: .8rem;
    line-height:1.5;
}


.contain-project-mid .blck-text-top p{
    color:#4a4a4a;
    text-align: center;
    font-size: .9rem;
    line-height: 1.5;
}

.contain-project-mid h3{
    background: linear-gradient(45deg, #bd1206 33%, #014470 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #014470;
    display: table;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 auto;
}

.companys-portfolio .wrap-pic-filt{background-color: rgba(71, 71, 71, .7)!important;}

.btn-portfolio-view{
    background: rgba(189,18,6,1);
    background: -moz-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,18,6,1)), color-stop(100%, rgba(1,68,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: linear-gradient(135deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    width: 150px;
    padding: 2px 2px;
    margin: 30px auto 0px;

}
.link-wrap{
    background-color: #ffffff;
    display: block;
}
.link-wrap p{
    background: linear-gradient(45deg, #bd1206 33%, #014470 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}



/*----reviews----*/


.reviews{
    -webkit-clip-path: polygon(0 35%, 100% 20%, 100% 80%, 0 100%);
    clip-path: polygon(0 35%, 100% 20%, 100% 80%, 0 100%);
}

.logo-companys{
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}


.reviews-top{
    font-size: 1.5rem;
    z-index: 2;
}

.avatar-user{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.name-user{padding: 5px 10px;}
.review-content{
    width: 70%;
    margin: 20px auto 0px;
}



/*-----------YOUR IDEAS------*/

.form-contain{
    width: 70%;
    box-shadow: 3px 3px 10px #363636;
    padding: 20px 40px;
    z-index: 3;
    bottom: -10%;
    left: 0;
    right: 0;
}
.your-ideas{padding: 170px 10px;}



.form-contain textarea{
    resize:none;
    padding: 5px;
    width:100%;
}

.form-group input{
    margin-top: 5px;
    padding: 5px;
}

.form-contain h3 span{
    background: linear-gradient(45deg, #bd1206 33%, #014470 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.own-bag{
    background: rgba(189,18,6,1);
    background: -moz-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,18,6,1)), color-stop(100%, rgba(1,68,112,1)));
    background: -webkit-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    background: linear-gradient(135deg, rgba(189,18,6,1) 0%, rgba(1,68,112,1) 100%);
    padding: 1px;
    margin: 0 auto;
    width: 90%;

}
.own-bag span{
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding: 3px;
}


.own-bag button{
    border: none;
    outline: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 5px;
    color: #014470;
    cursor: pointer;
    background-color: transparent;
}


/*----------- Project-Home-------------*/

.main-wrap-project{
    height: 250px;
    box-shadow: 2px 2px 10px #000;
}



.main-wrap-project:hover img{transform:scale(1.2);}

.item-blck-projects img{
    object-fit: cover;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transition: all .6s;
}

.madetec-project .text-blck-project{padding: 10px;}



.text-blck-project{
    padding: 50px 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3;
}

.wrap-pic-filt{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 81, 138, .7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.title-items-project{font-size:1.4rem;}
.title-items-project span{font-size:1.5rem;}
.text-main{line-height: 1.5;}
.icon-cont{color:#4a4a4a;}
.container-text-bot{
    margin-top: 50px;
    padding: 15px 10px;
}
.container-text-bot .title-text{font-size: 2rem;}
.container-text-bot .main-text-bot{
    font-size: .8rem;
    line-height: 1.5;
}
.left-text{border-right: 2px solid grey;}
.icon-cont{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #00518A;
    font-size: 2.5rem;
    padding: 15px 0px;
    color: #00518A;
    margin: 0 auto;
}


.container-text-bot .right-text ul{
    padding-top: 40px;
    margin-bottom: 0;
}
.text-icon{
    font-size:.9rem;
    line-height: 1.4;    
}

.pic-dispaly{width:90%;}

/*-------PAGE DEVELOPMENT---------*/

.bg-develop{
    background: rgba(252,15,3,1);
background: -moz-linear-gradient(-45deg, rgba(252,15,3,1) 0%, rgba(189,18,6,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,15,3,1)), color-stop(100%, rgba(189,18,6,1)));
background: -webkit-linear-gradient(-45deg, rgba(252,15,3,1) 0%, rgba(189,18,6,1) 100%);
background: -o-linear-gradient(-45deg, rgba(252,15,3,1) 0%, rgba(189,18,6,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(252,15,3,1) 0%, rgba(189,18,6,1) 100%);
background: linear-gradient(135deg, rgba(252,15,3,1) 0%, rgba(189,18,6,1) 100%);
}


.pic-development{
    width: 80%;
    float: right;
}

.develop-product .icon-cont{
    width: 70px;
    height: 70px;
    font-size: 2rem;
    padding: 10px 0px;
    border: 2px solid #bd1206;
    color:#bd1206;
}

.develop-product .text-icon{font-size: .8rem;}

.develop-product .title-text{line-height: 1.2!important;}


.top-descript-block-develop p{
    font-size: 1.2rem;
    line-height: 1.5;
}




/*------ DIRECTION DEVELOP -----*/

.develoment-direction .wrap-pic-filt{background-color: rgba(62, 4, 2, 0.5)!important;}


.develoment-direction .logo-pic{width:20%!important;}

.develoment-direction .text-logo-head{font-size: 2.1rem;}


.top-txt-blck, .develoment-direction .text-icon{font-size:1.5rem;}

.develoment-direction{padding: 50px 0px 100px!important;}

.develoment-direction .icon-cont{    
    border: 1px solid #ffff;
    color:#ffff;
}



/*------ PROJECTS DEVELOP-------*/

.companys-projects .main-content-portfolio{
        height: 500px!important;
        padding-top:150px;
}

.companys-projects .wrap-pic-filt{background-color: rgba(62, 4, 2, 0.5)!important;}

.telecom-cart-project .child-content-background{background-image: url('../img/new-img/more/map.jpg');}

/*------- PAGE DIGITAL--------*/

.bg-digital{
    background: rgba(0,20,240,1);
background: -moz-linear-gradient(-45deg, rgba(0,20,240,1) 0%, rgba(4,14,117,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,20,240,1)), color-stop(100%, rgba(4,14,117,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,20,240,1) 0%, rgba(4,14,117,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,20,240,1) 0%, rgba(4,14,117,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,20,240,1) 0%, rgba(4,14,117,1) 100%);
background: linear-gradient(135deg, rgba(0,20,240,1) 0%, rgba(4,14,117,1) 100%);
}

.bg-fon-digital{background-color: #040e75;}

.digital-product .title-text{line-height: 1.2;}
.top-descript-block-digital p{font-size:1.2rem;}


.digital-product .icon-cont{

    border: 2px solid #040e75;
    color: #040e75;
}

.icons-70{
    width: 70px;
    height: 70px;
    font-size: 2rem;
    padding: 10px 15px;
}

.digital-img{top: 20%;}

.pic-digital{
    width: 90%;
    float: right;
}

/*------DIGITAL DIRECTION---------*/

.digital-direction {padding: 50px 0px 100px!important;}

.digital-direction .logo-pic{width:20%;}

.digital-direction .wrap-pic-filt{background-color: rgba(1, 9, 77, .5);}

.digital-direction .icon-cont{
    color:#ffff;
    border:1px solid #ffff;
}
.digital-direction .text-icon{font-size: 1.2rem;}




/*-----CLIENTS-----*/

.companys-clients{padding:0px 5px 30px;}

.blck-client {height:100px;}




/* -----------------DESIGN---------------*/

.bg-design{
    background: rgba(214,8,255,1);
background: -moz-linear-gradient(-45deg, rgba(214,8,255,1) 0%, rgba(145,5,173,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,8,255,1)), color-stop(100%, rgba(145,5,173,1)));
background: -webkit-linear-gradient(-45deg, rgba(214,8,255,1) 0%, rgba(145,5,173,1) 100%);
background: -o-linear-gradient(-45deg, rgba(214,8,255,1) 0%, rgba(145,5,173,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(214,8,255,1) 0%, rgba(145,5,173,1) 100%);
background: linear-gradient(135deg, rgba(214,8,255,1) 0%, rgba(145,5,173,1) 100%);
}



.design-product .icon-cont{
    border: 1px solid #9105ad;
    color:#9105ad;
}
.design-product .title-text{line-height: 1.2;}
.pic-design{width: 80%;}
.design-img{
    padding-right: 0px!important;
    right: 0%!important;
    top: 15%;
}

/*------- DESIGN DIRECTION--------*/

.design-direction .wrap-pic-filt{background-color: rgba(47, 2, 56, 0.5);}
.design-direction .logo-pic{width:20%;}

.design-direction .icon-cont{
    color:#ffff;
    border:1px solid #ffff;
}
.design-direction .text-icon{font-size: 1.3rem;}

.bg-fon-design{background-color: #620275;}




/*-----BRENDING DESIGN-------*/

.brending-design .prj-extravel{ height: 500px;}

.brending-design .prj-extravel .child-content-background{background-image:  url('/img/new-img/large/picter/explore-bg.jpg');}

.prj-extravel .logo-project{ width: 80%;}
.prj-gecko .logo-project{width: 60%;}
.prj-challenge .logo-project{width: 50%;}


.brending-design .prj-gecko, .brending-design .prj-challenge{height: 97%;}

.right-view-design-prj a{height:47%;}
.brending-design .prj-gecko .child-content-background{background-image:  url('/img/new-img/large/picter/gecko-bg.jpg');}


.brending-design .prj-challenge .child-content-background{background-image:  url('/img/new-img/large/picter/chaleng-bg.jpg');}

.brending-design .logo-project{z-index: 2;}

.brending-design{padding: 50px 0px;}

.brending-design .wrap-pic-filt{background-color: rgba(47, 2, 56, 0.5);}



/*------- PROJECT PAGE------*/

.bg-project{
    background: rgba(0,186,177,1);
background: -moz-linear-gradient(-45deg, rgba(0,186,177,1) 0%, rgba(0,79,75,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,186,177,1)), color-stop(100%, rgba(0,79,75,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,186,177,1) 0%, rgba(0,79,75,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,186,177,1) 0%, rgba(0,79,75,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,186,177,1) 0%, rgba(0,79,75,1) 100%);
background: linear-gradient(135deg, rgba(0,186,177,1) 0%, rgba(0,79,75,1) 100%);
}

.bg-fon-project{background-color: #004f4b;}

.bg-project .text-logo-head{
    font-size: 3rem!important;
    padding-left:0px!important;
}

.project-pg .wrap-pic-filt{background-color: rgba(71, 71, 71, .7)!important;}

.pic-project{
    width: 90%;
    float: right;
}



/*-----WV PAGE------*/
.bg-wv{
   background: rgba(2,25,117,1);
background: -moz-linear-gradient(-45deg, rgba(2,25,117,1) 0%, rgba(0,9,41,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,25,117,1)), color-stop(100%, rgba(0,9,41,1)));
background: -webkit-linear-gradient(-45deg, rgba(2,25,117,1) 0%, rgba(0,9,41,1) 100%);
background: -o-linear-gradient(-45deg, rgba(2,25,117,1) 0%, rgba(0,9,41,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(2,25,117,1) 0%, rgba(0,9,41,1) 100%);
background: linear-gradient(135deg, rgba(2,25,117,1) 0%, rgba(0,9,41,1) 100%);
}

.bg-wv .logo-head-wv .logo-pic{width:60%!important;}

.bg-wv .text-logo-head{
    font-size:1.2rem;
    width: 70%;
}


.pic-wv{
    width: 65%;
    float: right;
}
.text-wv h2{
    color:#000929;
    font-weight:600;
}
.text-wv p{color:#000929;}

.blck-wv-descript{
    padding:15px;
    margin-bottom:30px;
}



/* ----------------------------------------------------------------
                    [ 03 Header Version 01]
-----------------------------------------------------------------*/
.header {
   height: 100%;
   width: 100%;
   top: 0;
   opacity: 1;
}

.navbar-toggler-icon{
    padding-top:10px;
    color: #ffff;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

  
ul.head-navigation li{
    width: 400px;
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid transparent;
    -webkit-border-image: 
    -webkit-linear-gradient(right, #f9a766 0%,#fe7773 100%);
    -moz-border-image:
    -moz-linear-gradient(right, #f9a766  0%,#fe7773 100%);  
    -o-border-image:
    -o-linear-gradient(right, #f9a766 0%,#fe7773 100%);
    border-image:
    linear-gradient(to right, #f9a766 0%,#fe7773 100%);
    border-image-slice: 1;
    margin: 10px 10px;
}


  .top-nav {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 0px 0 10px 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: color 400ms;
  }
  .top-nav span {
    color:#fff;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    padding: 0 120px 0 0;
    position: relative;
    transition: padding 400ms;
  }
  .top-nav:focus {outline: 0;}


.social-media {
    position: absolute;
    right: 20px;
    top: 38%;
}
.social-media ul li {display: block;}

.social-media li a {
    border: 1px solid #f9a766;
    margin: 10px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.social-media li:hover a {
    color: #f9a766;
}

.left-nav {
    position: absolute;
    left: -62px;
    top: 50%;
    transform: rotate(-90deg);
}

.left-nav ul { margin: 0;}

.left-nav ul li  {display: inline;}
.left-nav li a {    
    border: 1px solid #f9a766;
    margin: 5px;
    line-height: 40px;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.left-nav li:hover a {color: #f9a766;}
 
/* ----------------------------------------------------------------
                        [ 09. Team ]
-----------------------------------------------------------------*/

span.dash {
    width: 30%;
    height: 1px;
    background: #fe7773;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {display: inline;}

/* Dots Custom */

.owl-theme .owl-dots {
    margin-top: 20px !important;
    text-align: center;
    -webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 2px;
    margin: 5px 2px;
    background: #869791;
    display: block;
    -webkit-backface-visibility: visible;
    transition: all 200ms ease; 
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffff;
    width: 30px;
}





/* ----------------------------------------------------------------
                         [ 12. Contact ]
-----------------------------------------------------------------*/

.contact .form input, .contact .form textarea {
    width: 100%;
    padding: 15px;
    border: 0;
    background-color: #12141c;
    color: #fff;
  }

  .contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
  }
  .contact .form button {border: 0;}
  

/* ----------------------------------------------------------------
                     [ 13. Footer ]
-----------------------------------------------------------------*/
.footer {
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
    
    padding: 80px 0px 10px;

}

.bg-fonn-home{background-color: #00518A;}
.bg-fonn-development{background-color: #bd1206;}

.contact-info h2{padding-left:10px;}
.icon-logo-madetec{width:60%;}
.madetec-links a{
    color:#ffff!important;
    font-size:1.1rem;
}

.contact-link{
    color:#ffff!important;
    font-size:1rem;
    padding:3px;
}

.footer .social li a {
    text-align: center;
    border: 1px solid #f9a766;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: 10px;
}

.footer .social li:hover a {color: #f9a766;}

.line-bot{
    display: none;
    height: 1px;
    background-color: rgba(255,255,255, .7);
    width: 90%;
    margin: 0 auto;
}

.mail-nav {
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: color 400ms;
    }

.mail-nav span {
    color:#fff;
    font-weight: 600;       
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    padding: 0 120px 0 0;
    position: relative;
    transition: padding 400ms;
  }
.mail-nav:focus {outline: 0;}







